.athens {

  &-banners {
    background-image: url(../img/athens.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  &-menu {
    display: none;
    padding: 0;
  }
}