%btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 316px;
  height: 50px;
  border-radius: 25px;
  padding: 0 21px;
  font-family: $ff-mb;
  font-size: 18px;
  transition: .15s;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  user-select: none;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;

  &:hover, &:focus, &:active {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    @media (hover: hover) {
      cursor: pointer;
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    font-size: 14px;
    min-width: 280px;
    width: 280px;
  }
}