@media (max-width: 1366px) {
  .directions .name-block {
    margin: 0 auto 20px;
  }
  .team .name-block {
    margin-bottom: 20px;
  }
  .team .team-info {
    padding: 30px;
  }
  .team .team-info .title-des {
    margin-bottom: 30px;
  }
  .philosophy-big-text {
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 30px;
  }
  .philosophy .content__row {
    margin: 0 0 30px;
  }
  .directions .directions-title {
    font-size: 54px;
  }
  .triathlon-description .iroman-distances {
    margin: 16px 0 5px;
  }
  .triathlon-description__row {
    margin: 20px 0 0;
  }
  .directions .iroman-distances img {
    width: 50px;
  }
  .directions .directions-subtitle {
    margin-bottom: 16px;
  }
  .directions .directions-title {
    margin-bottom: 20px;
  }
  .triathlon-description, .triathlon-photo {
    flex: 1 0 63%;
  }
  .cost {
    padding: 20px 40px 20px 20px;
  }
  .cost .cost-title {
    margin: 0 0 40px;
  }
  .cost-list {
    margin: 0 0 50px;
  }
  .cost .cost-price > p {
    font-size: 100px;
    line-height: 100px;
  }
  .directions-coach .coach2 {
    margin-top: 110px;
  }
  .coach1__row {
    margin-top: 60px;
  }
  .directions-coach .trainer-photo {
    width: 38%;
  }
  .directions-coach .trainer-photo img {
    height: 240px;
  }
  .map-wrapper {
    max-width: 580px;
  }
  .start-map-title__text {
    font-size: 30px;
    line-height: 36px;
  }
  .start-map .content-wrapper {
    padding: 20px 30px;
  }
  .sponsors {
    padding: 20px 40px;
  }
  .sponsor-card {
    width: 300px;
    height: 186px;
    padding: 16px 40px 0;
    margin: 0 20px 20px;
  }
  .sponsor-card-name__text {
    font-size: 16px;
    line-height: 22px;
  }
  .sponsors .name-block {
    margin: 0 auto 30px;
  }
  .sponsor-card-name {
    height: 40px;
  }
  .directions {
    padding: 20px 40px 20px 20px;
  }
  .philosophy {
    padding: 20px 40px 20px 20px;
  }
  .directions-coach {
    padding: 20px 40px;
  }
  .start header {
    padding: 20px 0;
  }
  .start .slider-content .slider-title {
    font-size: 54px;
    letter-spacing: 1px;
    line-height: 64px;
    font-family: Oswald-Bold;
    margin-bottom: 20px;
  }
  .slider-title-small {
    margin: 0 0 20px;
  }
  .start .slider-content .slider-text {
    margin-bottom: 20px;
    margin-top: 0;
  }
}

@media (max-width: 1280px) {
  .additional-info-warning__text {
    font-size: 12px;
    line-height: 16px;
    width: 300px;
  }
}

@media (max-width: 1152px) {
  .directions-coach .trainer-photo img {
    height: 200px;
  }
  .directions-coach .trainer-photo {
    width: 36%;
  }
  .start-info {
    width: 400px;
    padding: 10px 32px 20px 15px;
  }
  .additional-info-warning {
    justify-content: center;
  }
  .additional-info__text {
    margin: 0 auto 10px;
    padding: 0;
  }
  .additional-info__row {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .start-map-title__text {
    font-size: 26px;
  }
  .cost .cost-price > p {
    font-size: 90px;
  }
  .cost-price sup, .cost-price sub, .cost-price > p span {
    font-size: 56px;
    line-height: 56px;
  }
  .cost .cost-price {
    padding-left: 30px;
  }
  .start-info-card__row_registration .btn-transparent_registration {
    min-width: 204px;
    margin-left: -10px;
  }
  .team__inner {
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .start {
    padding: 10px 40px 40px;
  }
  .start .slider-content .slider-title {
    font-size: 45px;
    line-height: 55px;
  }
  .slider-title-small {
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 18px;
  }
  .start .mouse {
    display: none;
  }
  .team__inner {
    padding: 60px;
  }
  .philosophy {
    padding: 60px;
  }
  .directions {
    padding: 60px;
  }
  .direction-triathlon {
    display: block;
  }
  .triathlon-description {
    width: 100%;
  }
  .triathlon-description .iroman-distances {
    justify-content: flex-start;
  }
  .triathlon-description .iroman-distances > div {
    margin-right: 30px;
  }
  .cost {
    padding: 60px;
  }
  .sponsors {
    padding: 60px;
  }
  .additional-info {
    display: block;
  }
  .start-info-list {
    height: 400px;
  }
  .start-map .content {
    align-items: flex-start;
  }
  .additional-info__right {
    padding: 20px 10px;
  }
  .sponsor-card {
    width: 250px;
  }
  .start-info {
    width: 400px;
    padding: 10px 10px 20px 15px;
  }
  .start-info-title {
    padding: 20px 0;
    font-size: 30px;
  }
  .header-phone {
    display: none;
  }
  .start .social {
    display: none;
  }
  .start .menu nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 282px;
    height: 100%;
    z-index: 10;
    transition: .2s;
    background: #333333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    transform: translateX(-100%);
    opacity: 0;

    &.active {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .social-mob {
    display: block;

    & .header-phone {
      display: flex;
      margin: 0 0 40px 20px;
    }

    & .social {
      margin: 0 0 40px 10px;
      display: block;

      & svg {
        max-width: 25px;
      }
    }
  }
  .start .menu nav ul {
    width: 100%;
    padding: 0 20px;
  }
  .start .menu nav ul li:not(:last-child) {
    margin-bottom: 15px;
  }
  .start header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: #111;
    padding: 0 10px;
  }
  .start .logo img {
    height: 24px;
  }
  .start .mobile-menu {
    display: flex;
  }
  .start .logo {
    width: 45px;
    height: 24px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  .main {
    padding: 40px 0 0;
  }
  .start .content {
    display: block;
  }
  .start__inner {
    display: block;
    flex: 0 0 auto;
  }
  .start {
    height: calc(100vh - 40px);
    padding: 0 27px 56px;
    justify-content: center;
  }
  .start-info-card-local__text {
    font-size: 22px;
  }
  .start-info-card-local {
    margin: 0 0 16px;
  }
  .sponsor-card {
    margin: 0 20px 40px;
  }
  .st-num {
    font-size: 32px;
  }
  .banners {
    background-position: left -200px center;
  }
  .philosophy-big-text {
    font-size: 36px;
    line-height: 46px;
  }
  .philosophy {
    background: linear-gradient(to top, rgba(17, 17, 17, 1) 0, rgba(17, 17, 17, 0) 60px),
    linear-gradient(to bottom, rgba(17, 17, 17, 1) 0, rgba(17, 17, 17, 0)  60px),
    url("../img/philosophy-1.jpg") no-repeat center;
  }
  .directions-coach {
    padding: 60px;
  }
  .directions-coach__inner {
    display: block;
  }
  .directions-coach .content .flex-box {
    display: block;
  }
  .coach1__row {
    display: none;
  }
  .directions-coach .coach1 .trainer-photo {
    margin: 0;
    width: 44%;
  }
  .directions-coach .trainer-photo {
    width: 44%;
  }
  .directions-coach .trainer-photo img {
    height: auto;
    max-width: 100%;
  }
  .directions-coach .coach1, .directions-coach .coach2 {
    justify-content: center;
  }
  .start .content .menu {
    padding: 0;
  }
}

@media (max-width: 992px) {

  .team__inner {
    padding: 30px 10px 0;
  }
  .team .name-block {
    margin-bottom: 30px;
    padding: 0;
    text-align: center;
  }
  .team .team-info {
    padding: 30px 10px 40px;
  }
  .team .team-statistic .statistic-text {
    font-size: 16px;
  }
  .team .team-info .statistic-data {
    margin: 20px -20px;
  }
  .team {
    background: #89D7D7;
    padding: 60px 0 0;
  }
  .team > div.team-photo-mob {
    display: block;
  }
  .team .go-in-team {
    display: block;
  }
  .team .content.flex-box {
    display: block;
  }



  .banners {
    background-position: left -322px center;
  }
  .philosophy-big-text {
    max-width: 460px;
  }
  .philosophy-small-text {
    max-width: 460px;
  }
  .philosophy .name-block {
    padding: 0;
    text-align: center;
  }
  .directions .name-block {
    padding: 0;
    text-align: center;
  }
  .directions .name-block .name-block__title {
    margin: 0 0 30px;
  }
  .switch-wrapper {
    margin: 0 0 50px;
  }
  .cost .switch-wrapper {
    display: none;
  }
  .cost .cost-box {
    display: block;
  }
  .cost .flex-box > div {
    width: 100%;
  }
  .cost .name-block {
    padding: 0;
    text-align: center;
    margin: 0 0 50px;
  }
  .directions-coach .name-block {
    margin-bottom: 40px;
    padding: 0;
    text-align: center;
  }
  .cost .discount {
    text-align: center;
  }
  .cost .cost-price > p {
    text-align: center;
  }
  .cost .cost-price {
    padding: 0;
  }
  .start-map.flex-box {
    display: block;
  }
  .start-info {
    width: 100%;
  }
  .start-map .content-wrapper {
    padding: 60px 20px 40px;
  }
  .start-map .name-block {
    text-align: center;
    padding: 0;
  }
  .map-wrapper {
    margin: 0 auto 30px;
  }
  .start-map-title__text {
    text-align: center;
    font-size: 24px;
    line-height: 34px;
  }
  .start-map-title {
    width: 220px;
    margin: 0 auto 40px;
  }
  .start-map .name-block {
    margin: 0 0 30px;
  }
  .additional-info__text {
    text-align: center;
  }
  .additional-info__text {
    margin: 0 auto 20px;
  }
  .start-info-list {
    height: auto;
    padding: 0 60px;
  }
  .start-info-title {
    text-align: center;
  }
  .start-info {
    padding: 40px 0;
  }
  .start-info-card {
    padding: 16px 20px 10px;
    width: 360px;
    margin: 0 auto 30px;
  }
  .sponsors .name-block {
    text-align: center;
    padding: 0;
  }
  .sponsor-card {
    position: relative;
    display: block;
    width: 316px;
    height: 200px;
    border: 1px solid #89D7D7;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    padding: 16px 46px 0;
    text-decoration: none;
    outline: none;
    margin: 0 20px 40px;
    overflow: hidden;
  }
  .sponsors {
    padding: 60px 20px;
  }
  .sponsor-card-name__text {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    font-family: Montserrat-Bold, sans-serif;
  }
  .sponsor-card-name {
    height: 54px;
  }
}

@media (max-width: 767px) {
  .team .team-statistic .statistic-text {
    font-size: 16px;
  }
  .team .title-team {
    font-size: 18px;
    line-height: 26px;
  }
  .team .title-des {
    font-size: 12px;
    line-height: 20px;
  }
  .pp-form .form-text {
    font-size: 12px;
    line-height: 22px;
  }
  .pp-form .form {
    padding: 40px 20px;
  }
  .pp-form .form-title {
    font-size: 26px;
    line-height: 36px;
  }
  .start-info-list {
    padding: 0;
  }

  .start .slider-content__row {
    text-align: center;
  }

  .start .content .slider-content {
    padding: 0;
  }

  .start {
    justify-content: flex-end;
  }

  .banners {
    background: url("../img/mobile/1.png") no-repeat center top;
    background-size: cover;
  }

  .st-num {
    font-size: 40px;
  }
  .statistic-data div {
    margin: 0 5px 20px;
  }
  .start .slider-content .slider-title {
    font-size: 36px;
    line-height: 46px;
  }
  .slider-title-small {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 18px;
  }
  .start .slider-content .slider-text {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;
  }

  .philosophy {
    padding: 60px 30px 40px;
  }
  .philosophy .content {
    padding: 0;
  }
  .philosophy-small-text {
    font-size: 12px;
  }
  .philosophy__button {
    text-align: center;
    padding: 20px 0 0;
  }

  .directions {
    padding: 60px 30px;
  }

  .directions .directions-title {
    font-size: 36px;
  }
  .directions .directions-subtitle {
    font-size: 18px;
  }
  .directions .directions-text {
    font-size: 12px;
  }
  .directions p, .directions .ironman-subtitle {
    font-size: 12px;
  }
  .triathlon-description__row {
    text-align: center;
    padding: 20px 0 0;
  }
  .triathlon-description .iroman-distances {
    display: block;
  }
  .triathlon-description .iroman-distances > div {
    margin: 0 0 30px;
  }
  .directions .iroman-distances div {
    justify-content: center;
  }
  .directions .iroman-distances img{
    width: 60px;
  }
  .triathlon-description .iroman-distances {
    margin: 30px 0;
  }
  .cost {
    padding: 60px 30px;
  }
  .cost .cost-price > p {
     font-size: 64px;
    line-height: 64px;
   }
  .cost-price sup, .cost-price sub, .cost-price > p span {
    font-size: 36px;
    line-height: 36px;
  }
  .cost .discount p {
    padding: 0;
    font-size: 18px;
    line-height: 22px;
  }
  .cost .cost-title {
    font-size: 18px;
    line-height: 18px;
  }
  .cost-list {
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 0 16px;
  }
  .cost-description__row {
    padding: 20px 0 0;
    text-align: center;
  }
  .directions-coach {
    padding: 60px 30px;
  }
  .directions-coach .coach1, .directions-coach .coach2 {
    display: block;
  }
  .directions-coach .coach1 .trainer-photo {
    width: 100%;
    margin: 0 0 20px;
  }
  .directions-coach .trainer-photo {
    width: 100%;
    margin: 0 0 20px;
  }
  .directions-coach .coach2 .trainer-description > div {
    text-align: left;
  }
  .directions-coach .trainer-text {
    font-size: 12px;
    line-height: 20px;
  }
  .directions-coach .coach2 {
    margin-top: 60px;
  }
  .map-img {
    display: block;
    padding: 100% 0 0;
  }
  .start-map {
    background: $tur;
  }
  .sponsors {
    background: url("../img/mobile/8.png") no-repeat;
    background-size: cover;
  }
  .directions-coach {
    background-image: linear-gradient(to top, #111111 0, rgba(17, 17, 17, 0) 60px),
    linear-gradient(to bottom, #111111 0, rgba(17, 17, 17, 0) 60px),
    url("../img/mobile/6.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .cost {
    background-image: linear-gradient(to top, #111111 0, rgba(17, 17, 17, 0) 60px),
    linear-gradient(to bottom, #111111 0, rgba(17, 17, 17, 0) 60px),
    url("../img/mobile/5.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .additional-info-warning__text {
    width: 210px;
  }
  .map-wrapper {
    margin: 0 auto 40px;
  }
  .sponsor-card {
    margin: 0 0 20px;
  }
}

@media (max-width: 360px) {

}