@media (max-width: 1366px) {
  .team .name-block {
    margin-bottom: 20px;
  }
  .team .team-info {
    padding: 30px;
  }
  .team .team-info .title-des {
    margin-bottom: 30px;
  }
  .philosophy-big-text {
    font-size: 54px;
    line-height: 64px;
    margin: 0 0 30px;
  }
  .philosophy .content__row {
    margin: 0 0 30px;
  }
  .directions .directions-title {
    font-size: 54px;
  }
  .triathlon-description .iroman-distances {
    margin: 16px 0 5px;
  }
  .triathlon-description__row {
    margin: 20px 0 0;
  }
  .directions .iroman-distances img {
    width: 50px;
  }
  .directions .directions-subtitle {
    margin-bottom: 16px;
  }
  .directions .directions-title {
    margin-bottom: 20px;
  }
  .triathlon-description, .triathlon-photo {
    flex: 1 0 63%;
  }
  .cost .cost-title {
    margin: 0 0 40px;
  }
  .cost-list {
    margin: 0 0 50px;
  }
  .cost .cost-price > p {
    font-size: 100px;
    line-height: 100px;
  }
  .directions-coach .coach2 {
    margin-top: 110px;
  }
  .coach1__row {
    margin-top: 60px;
  }
  .directions-coach .trainer-photo {
    width: 34%;
  }
  .map-wrapper {
    max-width: 580px;
  }
  .start-map-title__text {
    font-size: 30px;
    line-height: 36px;
  }
  .start-map .content-wrapper {
    padding: 20px 30px;
  }
  .sponsors {
    padding: 20px 40px;
  }
  .sponsor-card {
    width: 300px;
    height: 186px;
    padding: 16px 40px 0;
    margin: 0 20px 20px;
  }
  .sponsor-card-name__text {
    font-size: 16px;
    line-height: 22px;
  }
  .sponsors .name-block {
    margin: 0 auto 30px;
  }
  .sponsor-card-name {
    height: 40px;
  }
}

@media (max-width: 1280px) {
  .additional-info-warning__text {
    font-size: 12px;
    line-height: 16px;
    width: 300px;
  }
}

@media (max-width: 1152px) {
  .start-info {
    padding: 10px 20px 20px;
  }
  .additional-info-warning {
    justify-content: center;
  }
  .additional-info__text {
    margin: 0 auto 10px;
    padding: 0;
  }
  .additional-info__row {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  
}

@media (max-width: 360px) {

}