.switch {
  position: relative;
  width: 316px;
  height: 40px;
  border: 1px solid #89D7D7;
  border-radius: 20px;
  display: flex;

  &-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -40px 0 0;
  }

  &-item {
    flex-shrink: 0;
    width: calc(100% / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: .15s;
    
    &:hover {
      @media (hover: hover) {
        cursor: pointer;
      }
    }

    &__text {
      display: block;
      position: relative;
      z-index: 1;
      font-size: 14px;
      font-family: Montserrat-Bold;
    }

    &:first-child {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: calc(100% / 2);
        background: #89D7D7;
        border-radius: 20px;
        z-index: 0;
        transition: .15s;
      }

      &.active:after {
        left: 0;
      }
    }
  }
}